body{
    background-image: url('../../../Imagenes/fondo-blanco.jpg'); /* Cambia esto por la ruta de tu imagen */
  }
  
  main {
    padding-top: 0%; /* Ajusta al alto real del header */
    padding-bottom: 0px; /* Ajusta al alto real del footer */
    flex: 0; /* Asegura que el contenido principal ocupe el espacio disponible */
    padding-left: 0rem; /* Espaciado lateral */
    padding-right: 0rem;
    position: relative;
  }

